.header {
  background-color: #212529;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: rgb(147 157 151);
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(210, 224, 216);
}

.active {
  color: white;
  text-decoration: underline;
}
.logo {
  font-size: 1.5rem;
}
